/* Global Style */
body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  justify-content: center;
  display: flex;
  overflow: hidden;
  background-image: linear-gradient(rgba(53, 53, 53, 0.65), rgba(0, 0, 0, 0.85)) ,url("./assets/mukulHeadShot.jpg");
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-user-select: none;  
  -moz-user-select: none;    
  -ms-user-select: none;      
  user-select: none;
}

.container {  
  top:40%;
  position: relative;
  text-align: center;
}

/* Digital Clock */
#clock {
  /* color: rgb(30, 255, 0); */
  color: #FF9900;
  font-size: 3.5em;
  /* font-weight: lighter; */
  text-align: center;
  padding-top: 30px;
  margin-top: 10px;
  border-top: 1px solid #808080;
}

/* Rubber Band Animation */
#clock:hover {
  animation-name: rubberBand;
  -webkit-animation-name: rubberBand;
  animation-fill-mode: both;
  -webkit-animation-fill-mode: both;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  animation-iteration-count: 1;
}

/* Social Media Links */
div.social a img {
  max-width: 50px;
  max-height: 50px;
  font-size: 25px;
  padding: 0px;
  text-align: center;
  text-decoration: none;
  margin: 40px 25px 25px 25px;
  opacity: 0.8;

  animation-duration: 1s;
  animation-fill-mode: both;
  animation-iteration-count: 1;
}

/* Rubberband effect */
div.social a img:hover {
  opacity: 1;
  animation-name: tada;
}

@-webkit-keyframes tada {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  10%, 20% {
    -webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
  }
  30%, 50%, 70%, 90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }
  40%, 60%, 80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes tada {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  10%, 20% {
    -webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
  }
  30%, 50%, 70%, 90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }
  40%, 60%, 80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
} 

/* div.social a img:hover {
  opacity: 1;
  animation: shake 0.5s; 
  animation-iteration-count: infinite; 
}
@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -1px) rotate(-1deg); }
  20% { transform: translate(-1px, 0px) rotate(1deg); }
  30% { transform: translate(1px, 1px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 1px) rotate(-1deg); }
  60% { transform: translate(-1px, 1px) rotate(0deg); }
  70% { transform: translate(1px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 1px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
} */

/* Typewriter effect */
.typewriter p {
  color: #fff;
  font-size: 6em;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .10em solid #FF9900; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: -0.10em; /* Adjust as needed */
  animation: 
    typing 4s steps(30, end), 
    blink-caret 1s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #FF9900 }
}

/* Glowing efect */
p span:nth-child(1), p span:nth-child(7), p span:nth-child(14) {
  position: relative;
  display: inline-block;
  animation-delay: 5s;
  animation: lower 7.5s linear 1;
}

@keyframes lower {
  0%,12%,18.999%,23%,31.999%,37%,44.999%,46%,49.999%,51%,58.999%,61%,68.999%,71%,85.999%,96%,100% {
    opacity:1; 
    color: #FF9900;
  }
  19%,22.99%,32%,36.999%,45%,45.999%,50%,50.99%,59%,60.999%,69%,70.999%,86%,95.999% { 
    opacity:0.4;    
  }
}

/* Rubber Band Effect on hover */
p span:nth-child(1):hover, p span:nth-child(7):hover, p span:nth-child(14):hover {
  position: relative;
  display: inline-block;
  animation-delay: 5s;
  color: #FF9900;
  animation: rubberBand 0.75s alternate 1 ease-in-out;
}

@keyframes rubberBand {
  from {
    transform: scale3d(1,1,1);
  }
  30% {
    transform: scale3d(1.25, 0.85, 1);
  }
  40% {
    transform: scale3d(0.85, 1.25, 1);
  }
  50% {
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    transform: scale3d(1.05, 0.95, 1);
  }
  to {
    transform: scale3d(1,1,1);    
  }
}

/* Button style */
.clickHere {
  margin-top: 20px;
  position: relative;
}
.button {
  border-radius: 25px;
  background-color: rgba(0, 0, 0, 0.1);
  color: white;
  text-align: center;
  font-weight: lighter;
  font-size: 1.2em;
  padding: 10px 20px;
  width: 200px;
  cursor: pointer;
  transition: all 0.3s;  
  -webkit-transition: all 0.3s;
}

button.button:active {
  background-color:rgb(226, 136, 0);
  padding: 10px 20px;
  width: 200px;
}

.button span {
  cursor: pointer;
  display: inline;
  position: relative;
  transition: 0.3s;
  -webkit-transition: all 0.3s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transform: translateX(50px);
  transition: 
    opacity 0.1s 0.5s,
    transform 0.4s, 0.5s;
  -webkit-transition: 
    opacity 0.1s 0.5s,
    transform 0.4s, 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
  transform: translateX(0);
}

.button:hover {
  background-color: #FF9900;
  border: 1px solid #FF9900;
  padding: 12.5px 25px;
  width: 225px;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
}

/* To remove the blue border on click */
button:focus {outline:0;}
